main{
    flex-direction: column;
}

main > section ul li{
    padding: 32px;
}
main > section ul li, main > aside{
    background-color: var(--color-grey-6);
    border-radius: var(--radius-default);
}

#listApplyJob > div{
    padding: 0 32px 32px;
}
#listApplyJob > div > span:nth-child(1){
    width: 80px;
}

#listApplyJob > div > span:nth-child(3){
    width: 200px;
}

#listApplyJob li{
    padding: 0 32px;
    margin-bottom: 10px;
}
#listApplyJob hr{
    border: 2px solid var(--color-grey-5);
}

main > aside{
    max-width: 100%;
    height: 100%;
    position: sticky;
    top: 20px;
}
main > aside > h2{
    padding: 32px 32px 0;
}
main > section ul li .tagButton{
    display: flex;
    flex-direction: column;
    gap: 30px;
}