@media(max-width: 991px){
    :root {
      --title-1: calc(3rem / 1.2);
      --title-2: calc(2.5rem / 1.2);
      --title-3: calc(2rem / 1.2);
      --text-1:  calc(1.125rem / 1.2);
    }
}
@media(min-width: 850px){
    main{
        flex-direction: row;
    }

    main > section ul li .tagButton{
        flex-direction: row;
        justify-content: space-between;
    }

    main aside{
        width: 65%;
        margin-top: 72px;
    }
}
